 <h3>Delete User Posts</h3>

 <p class= "response notice">Clicking the button will delete all posts for user_name{{userName}} you entered in settings</p>

 <div class='buttons'>
 
  {{d-button label="delete_topic_ui.delete" action=(action "deletePosts") icon="eye"}}

</div>


<form {{action "saveSettings" on="submit"}}>
  <label for="delete_posts_for_username">Delete Posts For User:</label>
  <input type="text" id="delete_posts_for_username" value={{settings.delete_posts_for_username}}>

  <label for="delete_posts_in_single_batch">Delete Posts In Single Batch:</label>
  <input type="number" id="delete_posts_in_single_batch" value={{settings.delete_posts_in_single_batch}}>

  <label for="delete_user_topics_enabled">Delete User Topics Enabled:</label>
  <input type="checkbox" id="delete_user_topics_enabled" checked={{settings.delete_user_topics_enabled}}>

  <label for="delete_user_topics_dry_run">Delete User Topics Dry Run:</label>
  <input type="checkbox" id="delete_user_topics_dry_run" checked={{settings.delete_user_topics_dry_run}}>

  <button type="submit">Save Settings</button>
</form>
