{{#if tentacleVisible}}
  <div class='tentacle'>
   <h2> Button clicked and visible now </h2>
  </div>
{{/if}}

<div class='buttons'>
  {{d-button label="delete_topic_ui.show" action="showTentacle" icon="eye" id='show-tentacle'}}
</div>
 
 <div class='buttons'>
  {{d-button label="delete_topic_ui.delete" action="deletePosts" icon="eye" id='deletePosts'}}
</div>
 <h3>Delete User Posts</h3>
{{!-- {{#form-element}}
  <label>
    Username:
    {{input type="text" value=deleteUserPostsUsername}}
  </label>
  <br>
  <label>
    Batch Count:
    {{input type="text" value=deleteUserPostsBatchCount}}
  </label>
  <br>
  <button {{action "deletePosts"}}>Delete Posts</button>
{{/form-element}} --}}